# PostgreSQL Database Configuration
db.driver=org.postgresql.Driver
db.url=jdbc:postgresql://localhost:5444/weather_db
db.username=USERNAME // change
db.password=PASSWORD // change

# Hibernate Configuration
hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
hibernate.show_sql=true
hibernate.format_sql=true
hibernate.hbm2ddl.auto=validate

# Connection Pool
db.initialSize=5
db.maxTotal=10
db.maxIdle=5
db.minIdle=2
