/* Дополнительные стили */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.logo-img {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-user {
    position: absolute;
    right: 20px;
}